<form>
		
	<router-outlet></router-outlet>

	<nb-tabset>
			
			<nb-tab tabTitle="Login">
					<div class="input">
						<!-- <label>Username</label> -->
						<input type="text">
					</div>
						<br />
					<div class="input">
						<label>Password</label>
						<input type="password">
					</div>
						<br />
					<div class="input">
						<input type="submit" value="Login">
					</div>
			</nb-tab>
			
			<nb-tab tabTitle="Register">
					<div class="input">
						<h5>Username</h5>
						<input type="text" required=true>
					</div>
					<div class="input">
							<h5>Email</h5>
						<input type="email" required=true>
					</div>
					<div class="input">
							<h5>Password</h5>
						<input type="password" required=true>
					</div>
					<div class="input" required=true>
							<h5>Date of Birth <strong>(MM/DD/YYYY)</strong></h5>
					<input type="text">
					</div>	
					<div class="input" required=true>
							<h5>Confirm that you are not a robot</h5>
							<img src="/assets/images/captcha.png/" width="200" height="60">
							<br />
							<input type="input" required=true>
					</div>	
					<div class="input">
						<input type="submit" value="Register">
					</div>

			</nb-tab>

	</nb-tabset>
</form>
		
